<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ .title }}</title>
<link rel="stylesheet" href="/static/request.css">
</head>
<body>
<form class="page" action="/reqweb" method="POST">
<input type="hidden" name="id" value="{{ .id }}">
<input type="hidden" name="senderUUID" value="{{ .senderUUID }}">
<input type="hidden" name="textMode" value="{{ .textMode }}">
<input type="hidden" name="directoryMode" value="{{ .directoryMode }}">
<div class="container">
<div class="content">
<h1>Accept a {{ if .directoryMode }}<span class="type type-folder">folder</span>{{ else if .textMode }}<span class="type type-textsnippet">text snippet</span>{{ else }}<span class="type type-file">file</span>{{ end }} from<br><span class="sender sender-name">&quot;{{ .sender }}&quot;</span>?</h1>
<div class="details">
{{ if .textMode }}
                Text size: <span class="detail-value">{{ .fileSize }} characters</span>
{{ else if .directoryMode }}
                Folder name: <span class="detail-value">{{ .fileName }}</span><br>
                Folder size: <span class="detail-value-sad">could not compute</span>
{{ else }}
                File name: <span class="detail-value">{{ .fileName }}</span><br>
                File size: <span class="detail-value">{{ formatBytes .fileSize }}</span>
{{ end }}
</div>
</div>
<div class="actions">
<button type="submit" name="answer" value="true">Accept</button>
<button type="submit" name="answer" value="false">Decline</button>
</div>
</div>
{{ if not .trusted }}
<label class="trust-label">
<input type="checkbox" name="trust" value="true">
Trust this device
</label>
{{ end }}
</form>
</body>
</html>